.keycap-shape {
    display: flex;
    width: calc(45.6px - 7.6px); /*~12mm - ~2mm*/
    height: calc(45.6px - 3.8px);
    padding: 7.6px; /*~2mm*/
    user-select: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.keycap {
    border: solid 1px grey;
    position: relative;
}

.legend {
    position: absolute;
    top: 0;
    left: 0
}
